.imagesContainer {
  .imagesContainer__dollar {
    position: absolute;
    top: 3vh;
    left: 2vw;
    width: 25vh;
    height: 25vh;
    opacity: 0.7;
  }
  .imagesContainer__currencies {
    position: absolute;
    top: 0;
    left: 85vw;
    width: 25vh;
    height: 25vh;
    opacity: 0.7;
  }
  .imagesContainer__euro {
    position: absolute;
    top: 35vh;
    left: 50vw;
    width: 25vh;
    height: 25vh;
    opacity: 1;
  }
  .imagesContainer__money {
    position: absolute;
    top: 75vh;
    left: 75vw;
    width: 25vh;
    height: 25vh;
    opacity: 0.7;
  }
  .imagesContainer__transfer {
    position: absolute;
    top: 75vh;
    left: 20vw;
    width: 25vh;
    height: 25vh;
    opacity: 0.7;
  }
}
